@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}

.signup-role {
  padding: 0px 0px 15px 35px;
}

.box{
  width: 300px;
  padding: 10px;
}

.navbar{
  height: 50px;
  width: 100%;
  background-color: rgb(49, 49, 49);
}

.nav-item {
  padding-right: 25px;
}

.common-container {
  height: 600px;
  width: 80%;
  background-color: white;
  padding: 15px;
}

.vendor-inputs {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 50px;
}

.vendor-input {
  padding: 10px;
  min-width: 300px;
}

.vendor-sumbit{
  padding-top: 23px;
}

.admin-container {
  align-items: center;
  justify-content: center;
}

.event-list {
  display: flex;
  width: 750px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.admin-events {
  width: 500px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.admin-container button{
  margin: 5px;
}

.customer-input{
  width: 400px;
}

.customer-event-select {
  margin: 5px;
}

.customer-input {
  display: flex;
}

.customer-ticket-input{
  width: 150px;
}

.manage-tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.manage-event-ticket {
  height: 40px;
  width: 400px;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.h1-font {
  font-size: 30px;
}

.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-ls{
  display: flex;
  height: 100px;
  width: 200px;
  background-color: aliceblue;
}

.login-signup {
  height: 50px;
  width: 50px;
}

.navbar-main {
  z-index: 99;
  height: 50px;
  width: 100%;
  background-color: aqua;
}

